---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/WD187QP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"303-XUP2ZANSc3ZHQxR86ZwnNSqlvIc"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"WD18 7QP","quality":1,"eastings":509623,"northings":196053,"country":"England","nhs_ha":"East
        of England","longitude":-0.416808625486477,"latitude":51.6525903251576,"european_electoral_region":"Eastern","primary_care_trust":"Hertfordshire","region":"East
        of England","lsoa":"Watford 011E","msoa":"Watford 011","incode":"7QP","outcode":"WD18","parliamentary_constituency":"Watford","admin_district":"Watford","parish":"Watford,
        unparished area","admin_county":"Hertfordshire","admin_ward":"Holywell","ccg":"NHS
        Herts Valleys","nuts":"Hertfordshire","codes":{"admin_district":"E07000103","admin_county":"E10000015","admin_ward":"E05011048","parish":"E43000082","parliamentary_constituency":"E14001021","ccg":"E38000079","nuts":"UKH23"}}}'
  recorded_at: Mon, 12 Feb 2018 02:16:46 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=WD18%207QP&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "WD18 7QP",
                       "short_name" : "WD18 7QP",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Argyle Court",
                       "short_name" : "Argyle Ct",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "King Georges Avenue",
                       "short_name" : "King Georges Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Watford",
                       "short_name" : "Watford",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Hertfordshire",
                       "short_name" : "Hertfordshire",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Argyle Ct, King Georges Ave, Watford WD18 7QP, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.6531162,
                          "lng" : -0.4161802
                       },
                       "southwest" : {
                          "lat" : 51.6521404,
                          "lng" : -0.417347
                       }
                    },
                    "location" : {
                       "lat" : 51.6525987,
                       "lng" : -0.4168083
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.65397728029149,
                          "lng" : -0.4154146197084979
                       },
                       "southwest" : {
                          "lat" : 51.6512793197085,
                          "lng" : -0.418112580291502
                       }
                    }
                 },
                 "place_id" : "ChIJf1msXfBqdkgRvNcBiB6vo7c",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 12 Feb 2018 02:16:46 GMT
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/UB69QL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d9-RrFrcpeHNbARJbvUiJh6GYzXOlg"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"UB6 9QL","quality":1,"eastings":513844,"northings":182406,"country":"England","nhs_ha":"London","longitude":-0.360243322639469,"latitude":51.5290980245676,"european_electoral_region":"London","primary_care_trust":"Ealing","region":"London","lsoa":"Ealing
        014B","msoa":"Ealing 014","incode":"9QL","outcode":"UB6","parliamentary_constituency":"Ealing
        North","admin_district":"Ealing","parish":"Ealing, unparished area","admin_county":null,"admin_ward":"Greenford
        Broadway","ccg":"NHS Ealing","nuts":"Ealing","codes":{"admin_district":"E09000009","admin_county":"E99999999","admin_ward":"E05000177","parish":"E43000199","parliamentary_constituency":"E14000675","ccg":"E38000048","nuts":"UKI73"}}}'
  recorded_at: Mon, 12 Feb 2018 02:16:47 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=UB6%209QL&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
        [...]
